.header,
h1 {
    font-style: normal;
    text-align: center;
    color: #000;
}

.header,
h1,
p {
    text-align: center;
}

.article_content-pair-item,
.nav_list {
    list-style: none;
}

.content_author-name,
.footer_home,
.footer_list-item,
.header {
    text-transform: uppercase;
}

.header {
    font-family: "New York Small";
    font-weight: 550;
    font-size: 2rem;
    line-height: 3.4rem;
    letter-spacing: 0.1rem;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
}

.nav {
    justify-content: space-between;
    margin: 0 4rem;
}

.nav_cur {
    border-bottom: 2px solid #000;
}

.nav_home {
    font-size: 4.2rem;
}

.nav_list {
    margin: 0;
    padding: 0;
}

.nav_list-item {
    margin: 5rem 2rem 0;
    padding-bottom: 4rem;
}

.blog_home-img {
    margin: 5rem auto;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: "New York Extra Large";
    font-weight: 700;
    font-size: 5rem;
    line-height: 5rem;
    margin: 3rem auto;
    max-width: 70rem;
}

.footer_list-item:nth-child(2n),
p {
    font-weight: 400;
}

.footer_list-item,
p {
    font-family: "Basis Grotesque Pro", sans-serif;
    line-height: 2.8rem;
    font-style: normal;
}

p {
    font-size: 2.2rem;
    margin: 0 auto 3rem;
    max-width: 40rem;
    word-spacing: 1rem;
}

.blog {
    text-decoration: none;
}

.blog_home-separator,
.content_separator {
    border-bottom: 3px solid #000;
    margin: 5rem auto;
    max-width: 55rem;
}

.article_text {
    margin: 8rem auto 0;
}

.article_content {
    margin: 0 34rem 7rem;
}

.article_content-pair {
    justify-content: center;
    padding: 0;
    cursor: pointer;
}

.article_content-pair-item-img {
    display: block;
    padding: 2rem 1.5rem;
    max-width: 34rem;
}
.article_content-pair-item-text {
    width: 34rem;
    margin: 0;
    padding: 0 3rem;
    text-align: center;
}

h2,
.content_tag {
    font-family: "Basis Grotesque Pro", sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 2.4rem;
    line-height: 2.6rem;
}

footer {
    height: 48rem;
    background-color: #000;
    color: #fff;
    margin-top: 7rem;
}

.footer_list {
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.footer_list-item {
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 0.1em;
    list-style: none;
    padding-top: 1rem;
}

.footer_home,
.footer_message {
    font-family: "New York Small";
    text-align: center;
}

.footer_home {
    font-size: 3.2rem;
    margin: 8rem auto 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.4rem;
    letter-spacing: 0.8rem;
}

.footer_message {
    font-size: 1.8rem;
    margin: 0 auto 0.1rem;
    font-style: normal;
    line-height: 2.4rem;
    max-width: 48rem;
}

.footer_copyright-item,
.footer_social-item {
    font-family: "Basis Grotesque Pro", sans-serif;
    font-style: normal;
    color: #fff;
}

.footer_social {
    text-align: center;
    margin: 3rem auto 6rem;
}

.footer_social-item {
    font-size: 1.6rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
}

.footer_copyright {
    text-align: center;
}

.footer_copyright-item {
    font-size: 1.2rem;
    word-spacing: 0.1rem;
    margin: 0 auto;
    height: 1.6rem;
}

.content_author {
    margin: 0 46rem 5rem;
    display: flex;
    justify-content: space-between;
}

.content_author-img {
    border-radius: 50%;
    margin-right: 2.4rem;
}

.content_author-info-text {
    margin: 0.5rem 0;
}

.content_author-text {
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.content_author-date,
.content_author-name {
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-style: normal;
}

.content_author-name {
    font-family: "Basis Grotesque Pro", sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-bottom: 0.8rem;
}

.content_author-date {
    font-weight: 400;
}

.content_author-social-2 {
    margin: 7.7rem 46rem 0;
    display: flex;
    font-weight: 500;
    justify-content: center;
    cursor: pointer;
}

.content_author-social-below {
    border: 1px solid #e5e5e5;
    padding: 0 3.95rem;
}

.content_author-social-below-text {
    margin: 1.9rem 1.6rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 550;
}

.content_author-social-below-icon {
    margin: 2.2rem 1.6rem;
    width: 2rem;
    height: 2rem;
}

.content_author-social-icon {
    padding: 1.2rem 2.5rem;
    border: 1px solid #e5e5e5;
    width: 7rem;
    height: 4.4rem;
    margin: 0;
    cursor: pointer;
}

.content_tag {
    margin: 0 46rem;
    padding: 3.2rem 0 3.4rem;
    text-align: start;
    font-size: 1.6rem;
    border-bottom: 1px dashed #000;
    cursor: pointer;
}

.content_text,
.content_text-item {
    font-family: "New York Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 2.1rem;
    line-height: 3.4rem;
}

.content_text {
    margin: 0 46rem 5rem;
}

.content_text-item {
    margin-top: 2rem;
    margin-left: 2rem;
    padding-left: 1.5rem;
    list-style: square;
    list-style-image: url(./img/9.png);
}

.content_header,
.content_img-des {
    font-family: "Basis Grotesque Pro", sans-serif;
    font-weight: 700;
}

.content_header {
    font-size: 3.2rem;
    line-height: 5rem;
    margin: 0 46rem 2rem;
}

.content_img {
    max-width: 85rem;
    margin: 0 auto 2rem;
    display: flex;
    justify-content: center;
}

.content_img-des {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin: 0 52rem 5rem;
    text-align: center;
}

.content_separator {
    margin-top: 13.5rem;
    position: relative;
}

.content_separator-big,
.content_separator-tiny {
    position: absolute;
}

.content_separator-big {
    top: -3rem;
}

.content_separator-tiny {
    top: 0.4rem;
}

.signup {
    text-align: center;
    max-width: 64rem;
    margin: 0 auto 11rem;
    border: 1px solid #000;
    padding-bottom: 2rem;
    border-top: 9px solid #000;
}

.signup_header {
    font-size: 3.6rem;
    margin: 6rem auto 1.6rem;
}

.signup_text {
    font-weight: 500;
    font-size: 2rem;
    padding: 0 5rem 3.6rem;
}

.signup_email {
    max-width: 48rem;
    margin-bottom: 4rem;
    justify-content: center;
}

.signup_email-text {
    padding: 1.5rem 8rem 1.5rem 1.5rem;
    font-size: 2rem;
    font-weight: 500;
    border: 1px solid #000;
}

.signup_email-text:focus {
    outline: 0;
}

.signup_email-confirm {
    padding: 1.6rem 2.4rem 1.5rem;
    font-size: 2rem;
    font-weight: 550;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .nav_order {
        display: none;
    }
    .nav_home {
        font-size: 2rem;
        padding: 0;
        margin: 0;
    }
    .header {
        font-size: 1.2rem;
    }
    .nav {
        justify-content: space-between;
        padding: 0 1rem;
    }
    .nav_list-item {
        padding: 3rem 1rem 2rem;
    }
    h1 {
        font-size: 3.6rem;
        margin-bottom: 2.4rem;
    }
    .blog_home-img {
        margin: 5rem auto;
        width: 100%;
    }
    p {
        font-size: 1.4rem;
        margin: 0 2rem 3rem;
        max-width: 40rem;
    }
    .blog_home-separator,
    .content_separator {
        max-width: 100%;
    }
    .article_content,
    .footer_list {
        margin: 0 auto;
    }
    .footer_list-item {
        font-size: 1rem;
    }
    .footer_home {
        font-size: 2.2rem;
    }
    .footer_message {
        font-size: 1.1rem;
    }
    .content_author,
    .content_text,
    .content_img-des,
    .content_header,
    .content_author-social-2,
    .content_tag {
        margin: 0 2rem 5rem;
    }
    .content_img {
        width: 100%;
    }
    .content_author-social-below-text {
        display: none;
    }
    .content_author-social-2 {
        padding: 0 7rem;
    }
    .content_separator-big,
    .content_separator-tiny {
        display: none;
    }
    .signup {
        margin: 0;
    }
    .signup_header {
        margin: 4.2rem 6.5rem 1.6rem;
    }
    .signup_text {
        padding: 0 3.6rem 3.3rem;
    }
    .signup_email-text {
        padding: 0 5rem 0 1.2rem;
    }
    .signup_email-confirm {
        padding: 1.7rem;
    }
}
